<div class="empty-infomaion">
  <h5>ゲストユーザーはユーザー情報の編集ができません。</h5>
</div>
<div class="empty-continue">
  <%= link_to "マイページに戻る", mypage_path(current_customer), class: 'btn btn-outline-dark rounded-pill' %>
</div>