<div class="empty-infomaion">
  <h5>お気に入り店舗はまだ登録されていません。</h5>
</div>
<div class="empty-continue">
  <%= link_to "マイページに戻る", mypage_path(current_customer), class: 'btn btn-outline-dark rounded-pill' %>
</div>