<div class="container">
  <div class="row">
    <div class="text-center col-lg-3">
      <h4>お気に入り店舗</h4>
    </div>
  </div>
  <% if @favorite_stores.empty? %>
    <%= render 'empty_favorite' %>
  <% else %>
  <% @favorite_stores.each do |store| %>
  <div class="row">
    <div class="col-lg-3 offset-3">
      <h5><%= store.name %></h5>
      <p class="text-secondary"><%= store.address %></p>
    </div>
    <div class="col-lg-2">
      <%= link_to store_items_path(store) do %>
        <button class="btn btn-secondary rounded-pill mt-3"><i class="fa-solid fa-eye"></i> 商品を見る</button>
      <% end %>
    </div>
    <div class="col-lg-5 offset-3 border-favorite-line"></div>
  </div>
  <% end %>
  <% end %>
</div>