<div class="category-header">
  <nav>
    <ul style="list-style: none;">
      <li><h5><%= link_to "全商品", store_store_items_path(current_store), class: 'text-dark' %></h5></li>
      <% ItemCategory.where(store_id: current_store).each do |item_category| %>
        <li><h5><%= link_to item_category.name, store_store_items_path(item_category_id: item_category.id), class: 'text-dark' %></h5></li>
      <% end %>
    </ul>
  </nav>
</div>