<div class="category-header">
  <nav>
    <ul>
      <% ItemCategory.all.each do |item_category| %>
        <li><%= link_to item_category.name, store_store_items_path(item_category_id: item_category.id) %></li>
      <% end %>
    </ul>
  </nav>
</div>