<div class="empty-infomaion">
  <p>現在カートには商品が入っておりません。<br>
  お買い物を続けるには、下のお買い物を続けるボタンを押してください。</p>
</div>
<div class="empty-continue">
  <%= link_to "お買い物を続ける", root_path, class: 'btn btn-outline-dark rounded-pill' %>
</div>