<div class="empty-infomaion">
  <p>お客様のご注文履歴はございません。</p>
</div>
<div class="empty-continue">
  <%= link_to "お買い物を続ける", root_path, class: 'btn btn-outline-dark rounded-pill' %>
  <%= link_to "マイページに戻る", mypage_path(current_customer), class: 'btn btn-outline-dark rounded-pill' %>
</div>