<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mt-5">
      <h3><strong>またのご利用をお待ちしております。</strong></h3>
      <h5 class="thanks mt-5"><strong>Thank you again for OrderEats.</strong></h5>
    </div>
    <div class="col-md-4 offset-md-4">
      <%= link_to "トップに戻る", root_path, class: 'btn btn-block btn-outline-secondary rounded-pill pt-3 pb-3 mt-5' %>
    </div>
  </div>
</div>