<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center mt-5">
      <h3><strong>またのご利用をお待ちしております。</strong></h3>
      <h5 class="text-success mt-5"><strong>Thank you again for OrderEats.</strong></h5>
    </div>
    <div class="col-lg-4 offset-4">
      <%= link_to "トップに戻る", root_path, class: 'btn btn-block btn-secondary mt-5' %>
    </div>
  </div>
</div>