/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   font-family: monospace;
   background-color: #e8d3d1;
 }
 
 .btn-header {
   background-color: #00bb85;
 }
 
 .border1 {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
 }
 
 .bb1 tr {
  border-bottom: 2px solid #888084;
 }
 
 .store-img {
  width: 100%;
  height: 200px;
 }
 
 .empty-infomaion {
  background-color: #fef4f4;
  border: 1px solid #000;
  padding: 30px;
  text-align: left;
  width: 800px;
  margin: 20px auto;
 }
 
 .empty-continue {
  text-align: center;
 }
 
 .border-item-line {
  padding-bottom: .2em;
  border-bottom: 3px double #888084;
  color: #444;
  margin-top: 30px;
 }
 
 .border-favorite-line {
  border-bottom: 2px double #888084;
  margin-bottom: 15px;
 }
 
 .inline-block {
  display: inline;
 }
 
 .border-order-line {
  border-bottom: 2px double #888084;
  margin-top: 15px;
 }
 
 .thanks {
  color: #769164;
 }
 
 .border2 {
  border: 2px double #475950;
 }
 
 .box {
  max-width: 100%;
  width: 900px;
  height: auto;
  margin-left: 100px;
  background-color: #fef4f4;
 }
 
 .pagination>li>a {
  border: none;
  color: #696969;
  opacity: 0.8;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.pagination {
  justify-content: center;
}

.category-header {
 width: 100%;
 height: 50px;
 background-color: #ede4e1;
}