<div class="category-header">
  <nav>
    <ul style="list-style: none;">
      <% ItemCategory.all.each do |item_category| %>
        <li><h5><%= link_to item_category.name, store_item_item_category_path(item_category_id: item_category.id), class: 'text-dark' %></h5></li>
      <% end %>
    </ul>
  </nav>
</div>