<li class="nav-item">
  <%= link_to "商品一覧", store_store_items_path(current_store), class: 'nav-link text-dark' %>
</li>
<li class="nav-item">
  <%= link_to "店舗詳細", store_store_path(current_store), class: 'nav-link text-dark' %>
</li>
<li class="nav-item">
  <%= link_to "ログアウト", destroy_store_session_path, method: :delete, class: 'nav-link text-dark' %>
</li>